.block{
  margin: auto;
  max-width: 800px;
}

.navigation{
  margin: 0;
  padding: 0 15px;
  text-align: center;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  background-color: #333;
}

.navigation li a{
  color: #fff;
  text-decoration: none;
}

.navigation li:hover, .navigation li:hover a{
  background: #ddd;
  color: #000;
}

.navigation li{
  display: inline-block;
  /* border: 1px solid #000; */
  padding: 15px 19px;
}

.content{
  padding-top: 45px;
}

.list li{
  background: #ddd;
  padding: 5px 10px;
  margin: 5px;
}

.sub-list li{
  border: 5px solid #fff;
  background: rgb(202 202 202);
  margin: 0;
}

.good-anchor{
  scroll-margin-top: 5em;
}

